<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Counter</title>
  </head>
  <body>
    <h1 style="text-align: center">Counter</h1>
    <p style="text-align: center">{{counter}}</p>
    <div
      class="conatiner"
      style="display: flex; gap: 10px; justify-content: center"
    >
      <div>
        <a href="/counter_by_2">
          <button style="background-color: blue; color: white">
            Add two visits
          </button>
        </a>
      </div>
      <div>
        <a href="/reset">
          <button style="background-color: brown; color: white">Reset</button>
        </a>
      </div>
    </div>
  </body>
</html>
