<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create users</title>
  </head>
  <body>
    <h1>Create users</h1>
    <form action="/create_user" method="POST">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" />
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" />
      <label for="email">email:</label>
      <input type="text" name="email" />
      <input type="submit" value="Add a User" />
      <a href="/">Home</a>
    </form>
  </body>
</html>
