<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dojos and Ninjas</title>
  </head>
  <body
    style="width: 1000px; height: 500px; border: 2px solid black; margin: auto"
  >
    <div class="container">
      <h2>New Ninja</h2>
      <form action="/ninjas/new" method="post">
        <div>
          <label for="dojo_id">Dojo:</label>
          <select name="dojo_id" id="dojo_id">
            {% for dojo in all_dojos %}
            <option value="{{dojo.id}}">{{dojo.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label for="first_name">First Name:</label>
          <input type="text" name="first_name" id="first_name" />
        </div>
        <div>
          <label for="last_name">Last Name:</label>
          <input type="text" name="last_name" id="last_name" />
        </div>
        <div>
          <label for="age">Age:</label>
          <input type="text" name="age" id="age" />
        </div>
        <div>
          <button>Create</button>
        </div>
      </form>
      <a href="/">Home</a>
    </div>
  </body>
</html>
