<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="display: flex; justify-content: space-around">
      <h1>User {{one_user.id}}</h1>
      <a href="/">Home</a>
    </div>
    <div style="border: 2px solid black">
      <p>Full Name:{{one_user.first_name}} {{one_user.last_name}}</p>
      <p>Email:{{one_user.email}}</p>
      <p>Created On:{{one_user.created_at}}</p>
      <p>Last Updated On:{{one_user.updated_at}}</p>
    </div>
    <div style="display: flex">
      <a href="/users/{{one_user.id}}/edit">Edit |</a>
      <a href="/delete/{{one_user.id}}">Delete</a>
    </div>
  </body>
</html>
