<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>USERS CR</title>

    <style>
      td {
        padding: 10px 25px 10px 25px;
      }

      table {
        border: 2px solid black;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }

      table,
      th,
      td {
        border: 1px solid;
      }

      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>All Users</h1>
    <table style="column-gap: 100px">
      <thead>
        <tr>
          <td>Id</td>
          <td>Full Name</td>
          <td>Email</td>
          <td>Created At</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody style="margin: 20px">
        {% for user in users %}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.first_name}} {{user.last_name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.created_at}}</td>
          <td>
            <a href="/users/{{user.id}}">Show |</a
            ><a href="/users/{{user.id}}/edit">Edit |</a
            ><a href="/delete/{{user.id}}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="/users/create/new">Add a New User</a>
  </body>
</html>
